<head>
  <title>Create a new Figure</title>
</head>
<h1>Create a new Figure!</h1>

<form action='/figures' method='POST'>
  <input type='text' placeholder='Enter a Figure name...'id="figure_name" name='figure[name]' />


  <p>Select an exisiting landmark...</p>
  <p>


      <% @landmarks.each do |landmark| %>
      <input type="checkbox" id="landmark_<%=landmark.id%>" name="landmark_name[]" value="<%= landmark.id %>"><%= landmark.name %><br>
      <% end %>
  </p>

  <h2>or create a new landmark!</h2>

    <input type='text' placeholder='Enter a landmark name...'id="new_landmark" name='landmark[name]' />
    <input type='text' placeholder='Enter the year this was completed...'id="landmark_year_completed" name='landmark[year_completed]' /><br>
    <br>

    <p>Select an exisiting title...</p>
    <p>

        <% @titles.each do |title| %>
        <input type="checkbox" id="title_<%=title.id%>" name="title_name[]" value="<%= title.id %>"><%= title.name %><br>
        <% end %>
    </p>

    <h2>or create a new title</h2>

      <input type='text' placeholder='Enter title:'id="new_title" name='title[name]' />
      <br>

  <input type="submit" value="Create New Figure">
</form>


<p visibility="hidden">
  expect(page.body).to include('figure[name]')
  expect(page.body).to include('figure[title_ids][]')
  expect(page.body).to include('figure[landmark_ids][]')
  expect(page.body).to include('landmark[name]')
  expect(page.body).to include('title[name]')
</p>
